extends layout
link(rel='stylesheet',href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
link(rel='stylesheet',href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css")
link(rel='stylesheet',href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
link(rel='stylesheet',href="https://code.jquery.com/jquery-1.10.2.js")
block content
  h1= "Find"

